<html>
    <head>
        <title>AlexGato</title>
    </head>
    <body>
        <p>hehe</p>
        <p>its me alex</p>
    </body>
</html>
<html>
    <body>
        <div>
            <h1><a href="/">this is a test</a></h1>
        </div>

        <div>
            <p></p>
            <h2><a href="">website</a></h2>
            <p>sffseesf</p>
        </div>

        <div>
            <p></p>
            <h2><a href="">sefsefesf</a></h2>
            <p>test</p>
        </div>
    </body>
</html>